<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu>
  <menu id="client-menu">
    <item label="Minimize">
      <action name="Iconify" />
    </item>
    <item label="Maximize">
      <action name="ToggleMaximize" />
    </item>
    <item label="Fullscreen">
      <action name="ToggleFullscreen" />
    </item>
    <separator />
    <item label="Close">
      <action name="Close" />
    </item>
  </menu>

  <menu id="applications-menu" label="Applications">
    <item label="Browse All Applications...">
      <action name="Execute" command="wofi --show drun --allow-images" />
    </item>
    <separator />
    <item label="Web Browser">
      <action name="Execute" command="qutebrowser" />
    </item>
    <item label="File Manager">
      <action name="Execute" command="dolphin" />
    </item>
    <item label="Text Editor">
      <action name="Execute" command="gvim" />
    </item>
    <item label="System Monitor">
      <action name="Execute" command="alacritty -e htop" />
    </item>
  </menu>

  <menu id="display-menu" label="Display">
    <menu id="scale-menu" label="Scale"
      execute="/home/tetsuya/.config/labwc/scripts/scale-menu" />
    <item label="Display Information">
      <action name="Execute" command="~/.config/labwc/scripts/output-info" />
    </item>
  </menu>

  <menu id="appearance-menu" label="Appearance">
    <item label="Wallpaper...">
      <action name="Execute" command="~/.config/labwc/scripts/wallpaper" />
    </item>
    <item label="Theme...">
      <action name="Execute" command="~/.config/labwc/theme-switch" />
    </item>
    <item label="Font Size...">
      <action name="Execute" command="~/.config/labwc/scripts/font-size" />
    </item>
  </menu>

  <menu id="layout-menu" label="Window Layout">
    <item label="Window Gaps...">
      <action name="Execute" command="~/.config/labwc/scripts/gaps" />
    </item>
  </menu>

  <menu id="settings-menu" label="Settings">
    <menu id="display-menu" />
    <menu id="appearance-menu" />
    <menu id="layout-menu" />
  </menu>

  <menu id="session-menu" label="Session">
    <item label="Exit labwc">
      <action name="Exit" />
    </item>
    <separator />
    <item label="Suspend">
      <action name="Execute" command="~/.config/labwc/system-menu suspend" />
    </item>
    <item label="Hibernate">
      <action name="Execute" command="~/.config/labwc/system-menu hibernate" />
    </item>
    <item label="Reboot">
      <action name="Execute" command="~/.config/labwc/system-menu reboot" />
    </item>
    <item label="Power Off">
      <action name="Execute" command="~/.config/labwc/system-menu poweroff" />
    </item>
  </menu>

  <menu id="root-menu">
    <item label="Terminal">
      <action name="Execute" command="alacritty" />
    </item>
    <item label="Run Application...">
      <action name="Execute" command="wofi --show drun --allow-images" />
    </item>
    <item label="Files">
      <action name="Execute" command="dolphin" />
    </item>
    <item label="Web Browser">
      <action name="Execute" command="qutebrowser" />
    </item>
    <separator />
    <menu id="applications-menu" />
    <menu id="settings-menu" />
    <separator />
    <menu id="session-menu" />
    <item label="Reload Configuration">
      <action name="Reconfigure" />
    </item>
  </menu>
</openbox_menu>
